<!--<div class="container-fluid">-->
<!--  <div class="row">-->
<!--    <div class="col-sm-4">-->
<!--      <p class="name">{{ hero.location }}</p>-->
<!--      <h5 class="card-title">{{ hero.advTitle }}</h5>-->
<!--      <p class="card-text">{{hero.price}}</p>-->
<!--      <p class="card-text"> {{hero.priceUAH | currency:'UAH':true:'3.0'}}</p>-->
<!--      <p class="card-text">{{hero.publishedDate}}</p>-->
<!--      <p class="card-text"><small class="text-muted">views per day {{hero.averageViewsPerDay}}</small></p>-->
<!--    </div>-->

<!--    <div class="col-sm-4">-->
<!--      <p class="card-text"><small class="text-muted">{{hero.itemDescription}}</small></p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->

<!--<ul>-->
<!--  <li *ngFor="let brew of hero.images">-->
<!--    <img *ngIf="brew.image" class="card-img-top" src="{{brew.image}}" alt="Card image cap">-->
<!--  </li>-->
<!--</ul>-->

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container-fluid">
  <div class="container-fluid">
    <br>
    <div class="row">
      <div class="col-sm-8">
        <p class="card-text"><small class="text-muted">{{hero.itemDescription}}</small></p>
        <p class="card-text">{{hero.publishedDate}}</p>
        <p class="card-text"><small class="text-muted">{{hero.location}}</small></p>
        <a class="card-text" href="{{hero.searchingUrl}}"><small class="text-muted">{{hero.searchingUrl}}</small></a>
      </div>
      <div class="col-sm-4">
        <h4 class="card-title">{{ hero.advTitle }}</h4>
        <br>
        <p class="card-text">{{hero.price}}</p>
        <p class="card-text"> {{hero.priceUAH | currency:' + ':false:'3.0'}}</p>
        <p class="card-text"><small class="text-muted">views per day {{hero.averageViewsPerDay}},
          total {{hero.viewsNumber}}</small></p>
        <a class="card-text" href="{{hero.url}}"><small class="text-muted">{{hero.url}}</small></a>
        <br>
        <button (click)="update()">update from OLX</button>
      </div>
    </div>
    <br>
  </div>
</div>
<ul>
  <li *ngFor="let brew of hero.images">
    <img *ngIf="brew.image" class="card-img-top" src="{{brew.image}}" alt="Card image cap">
  </li>
</ul>
</body>
